<!DOCTYPE html>
<html>
<head>
  <title>Fruit Detail</title>
</head>
<body>

<h1><%= fruit.name %></h1>

<img src="<%= fruit.img %>" width="250" />

<p>Price: $<%= fruit.price %></p>

<br>
<a href="/fruits">← Back to list</a>

</body>
</html>